<h1>Edit <%= resource_name.to_s.humanize %></h1>

<div class="form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-item"><%= image_tag("username_icon.png", class: "user-info-icons") %>
    <%= f.text_field :username, class: "text", :autofocus => true %></div>

    <div class="form-item"><%= image_tag("email_icon.png", class: "user-info-icons") %>
    <%= f.email_field :email, class: "text" %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-item"><%= image_tag("password_icon.png", class: "user-info-icons") %> 
    <%= f.password_field :password, placeholder: "New Password", class: "text", :autocomplete => "off" %>
    <br />  <i>(leave blank if you don't want to change it)</i>
      </div>

    <div class="form-item"><%= image_tag("password_icon.png", class: "user-info-icons") %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "text" %></div>

    <div class="form-item"><%= image_tag("password_icon.png", class: "user-info-icons") %> 
    <%= f.password_field :current_password, placeholder: "Current Password", class: "text" %></div>

    <div><%= f.submit "Update", class: "button" %></div>
  <% end %>

  <div class="cancel">
    <br /><br /><h2>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></h2>

    <%= link_to "Back", :back %>
  </div>
</div>