<h2>Mission Board</h2>

<p>Your Role: Non-profit Organization</p>

<%= link_to "Create New Project", new_project_path %>

<p>Projects Managed</p>

<% unless Connection.where(user_id: current_user.id).blank? %>

	<% @user.projects.each do |project| %>
		<%= project.name %> 
			<%= link_to "View", project_path(project) %>
			<%= link_to "Edit", edit_project_path(project) %>
			<%= link_to "Cancel Project", project, method: :delete, data: { confirm: 'Are you sure you want to cancel this project? An e-mail notification would be sent out to all participants.'} %>
		<p>The Superhero Participants</p>
		<% project.users.heros.each do |hero| %>
			<%= hero.username %>
		<% end %>
	<% end %>

<% end %>