<div class="form-right">

<%= form_for(@project, multipart: true) do |f| %>
  <% if @project.errors.any? %>
    <div>
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><%= f.label :name, "NON-PROFIT NAME*" %>
  <%= f.text_field :name, placeholder: "e.g., Project Sunshine", class: "text", :"required" => "" %></h4>
  <br />

  <h4><%= f.label :description, "DESCRIPTION OF THE MISSION*" %>
  <%= f.text_field :description, placeholder: "e.g., Make Sunny Grams", class: "text", :"required" => "" %></h4>
  <br />

  <h4><%= f.label :video_url, "VIDEO URL FOR EMBEDDING:" %>
  <%= f.text_field :video_url, placeholder: "e.g., http://www.youtube.com", class: "text" %></h4>
  <br />

  <h4><%= f.label :supertype, "SUPERPOWER CATEGORY*" %>
  <%= f.select(:supertype, [['Lightning'], ['Shapeshifting'], ['Flying']]) %></h4>
  <br />

</div>

<div class="create-project">
    <%= f.submit class: 'button' %>
<% end %>
</div>

