<div class="section sTop">
	<div class="inner">

		<div class="top clearfix">
			<div id="power-icon">
				<%= image_tag(@project.supertype.downcase.to_s + "_icon.png", class: "step-icons") %>
			</div>
			<div id="mission">
				<h1>YOUR MISSION:</h1>
				<h2><%= @project.description %></h2>
			</div>
		</div>
	</div>
</div>

<div class="subMenu">
	<div class="inner">
		<a href="#" id="sTop" class="subNavBtn">Top</a> 
		<a href="#" id="s1" class="subNavBtn">Step 1</a>
		<a href="#" id="s2" class="subNavBtn">Step 2</a>
		<a href="#" id="s3" class="subNavBtn">Step 3</a>
		<a href="#" id="s4" class="subNavBtn">Step 4</a>
		<a href="#" id="s5" class="subNavBtn end">Step 5</a>
	</div>
</div>

	<div id="learn" class="section s1">
		<div class="inner">
			<%= image_tag("icon_learn.png", class: "step-icons") %>
			<h2>LEARN ABOUT YOUR MISSION.</h2>
			<div class="video">
				<iframe width="560" height="315" src="<%= @project.video_url %>" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div id="volunteer" class="section s2">
		<div class="inner">		
			<%= image_tag("volunteer_icon.png", class: "step-icons") %>
			<h2>TELL <%= @project.name.upcase %> YOU ARE ON BOARD.</h2>

			<div class="create-project">
				<%= form_for([@project, @connection]) do |f| %>
					<%= f.submit "I'm on board!", class: "button" %>
				<% end %>
			</div>

			<p>Sign up <a href="http://projectsunshine.org/information.php" target="_blank">here</a> to receive more instructions on your mission.</p>
		</div>
	</div>
	<div id="make" class="section s3">
		<div class="inner">
			<%= image_tag("make_icon.png", class: "step-icons") %><h2>COMPLETE YOUR MISSION.</h2>
			<p>Use your awesome superpowers to make some Sunny Grams for kids who need some sunshine!</p>
		</div>
	</div>
	<div id="send" class="section s4">
		<div class="inner">
			<%= image_tag("send_icon.png", class: "step-icons") %><h2>SEND THE SUNNY GRAMS.</h2>
			<p>Once <%= @project.name %> lets us know they got your Sunny Grams, you will be awarded your super power!</p>
		</div>
	</div>
	<div id="savetheday" class="section s5">
		<div class="inner">
			<%= image_tag("savetheday_icon.png", class: "step-icons") %>
			<h2>SAVE THE DAY.</h2>
		</div>
	</div>
