<div class="top">
	<h1 class="heading rotate arc title" id="superpower">
		<%= @project.supertype %>
	</h1>
	<h2>Mission: 
		<%= @project.description %>
	</h2>
</div>

<ul class="step-nav stickyribbon">
	<li><a href="#learn">Step 1</a></li>
	<li><a href="#volunteer">Step 2</a></li>
	<li><a href="#make">Step 3</a></li>
	<li><a href="#send">Step 4</a></li>
	<li><a href="#savetheday">Step 5</a></li>
</ul>

<ol class="steps circles-list">
	<li id="learn">
		<%= image_tag("icon_learn.png", class: "step-icons") %>
		<h2>Learn about your mission.</h2>
	</li>
	<li id="volunteer">
		<%= image_tag("volunteer_icon.png", class: "step-icons") %>
		<h2>Tell <%= @project.name %> that you are on board.</h2>
		<p>Sign up <a href="http://projectsunshine.org/information.php" target="_blank">here</a> to receive more instructions on your mission.</p>
	</li>
	<li id="make">
		<%= image_tag("make_icon.png", class: "step-icons") %><h2>Complete your mission.</h2>
		<p>Use your awesome superpowers to make some Sunny Grams for kids who need some sunshine!</p>
	</li>
	<li id="send">
		<%= image_tag("send_icon.png", class: "step-icons") %><h2>Send the Sunny Grams.</h2>
		<p>Once <%= @project.name %> lets us know they got your Sunny Grams, you will be awarded your super power!</p></li>
	<li id="savetheday">
		<%= image_tag("savetheday_icon.png", class: "step-icons") %>
		<h2>Save the day.</h2>
	</li>
</ol>