<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name ="viewport" content="width=device-width, user-scalable=no">
  <title>Beacons</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rammetto+One|Source+Code+Pro|Share+Tech+Mono|Aldrich|Bangers' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Coda+Caption:800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Galindo|Candal|Boogaloo|Bowlby+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Advent+Pro:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>



<section class="content">
	<%= yield %>
</section>

</body>
</html>
